.chatWindow {
    position: fixed;
    bottom: 80px;
    right: 20px;
    width: 400px;
    min-height: 200px;
    max-height: 500px;
    background-color: white;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    display: flex;
    flex-direction: column;
  }
  
  .chatHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #9B1139;
    color: white;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
  }
  
  .closeButton {
    background: none;
    border: none;
    color: white;
    cursor: pointer;
    font-size: 16px;
  }
  
  .chatMessages {
    flex: 1;
    padding: 10px;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
  }
  
  .messageContainer {
    display: flex;
    flex-direction: column;
    margin: 10px 0;
  }
  
  .clientContainer {
    align-items: flex-start;
    text-align: left;
  }
  
  .contadoraContainer {
    align-items: flex-end;
    text-align: right;
  }
  
  .userDetails {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
  }
  
  .icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #9B1139;
    color: white;
    font-size: 14px;
    margin-right: 8px;
  }
  
  .text {
    display: flex;
    flex-direction: column;
  }
  
  .role {
    font-size: 12px;
    color: #888;
  }
  
  .message {
    max-width: 80%;
    padding: 10px;
    border-radius: 8px;
    word-wrap: break-word;
  }
  
  .client {
    background-color: #f1f0f0;
    border-bottom-left-radius: 0;
  }
  
  .contadora {
    background-color: #d1ecf1;
    border-bottom-right-radius: 0;
  }
  
  .noChatMessage {
    text-align: center;
    color: #888;
    font-size: 14px;
  }
  
  .chatInput {
    display: flex;
    padding: 10px;
    border-top: 1px solid #ddd;
  }
  
  .chatInput input {
    flex: 1;
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 4px;
    margin-right: 10px;
  }
  
  .chatInput button {
    padding: 8px 12px;
    background-color: #9B1139;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .chatInput button:hover {
    background-color: #0056b3;
  }
  