.btnContainer{
  padding:1rem 1rem 2rem 0;
  display: flex;
  justify-content: space-between;
  gap: 1rem;
}

.btnContent{
  display: flex;
  gap: 20px;
}

.filter__container{
  display: flex;
  gap: 10px;
  /* flex-wrap: wrap; */
}