.column__container {
	display: grid;
	grid-template-columns: 1fr;
	gap: 15px;
}

.form__container{
	display: flex;
	flex-direction: column;
	gap: 15px;
}

.two__container{
	display: flex;
	gap: 10px;
}

.button__container{
	margin-top: 15px;
}

