.column__container {
	display: grid;
	grid-template-columns: 1fr;
	gap: 15px;
}

.form__container{
	display: flex;
	flex-direction: column;
	gap: 15px;
}

.two__container{
	display: flex;
	gap: 10px;
}

.button__container{
	margin-top: 15px;
}


.totalContainer {
    width: 100%;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;
    background-color: #ffffff;
    border: 1px solid #ddd;
    border-radius: 8px;
    margin-top: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  .totalBlock {
    display: flex;
    align-items: center;
    gap: 20px;
    width: 100%;
    max-width: 800px;
    justify-content: space-evenly;
  }
  
  .totalItem {
    display: flex;
    align-items: center;
    gap: 10px;
  }
  
  .totalItem .icon {
    font-size: 2rem;
    color: #9b1139;
  }
  
  .totalItem .label {
    font-size: 1rem;
    font-weight: bold;
    color: #333;
    margin: 0;
  }
  
  .totalItem .value {
    font-size: 1.2rem;
    color: #555;
  }
  