.p {
    text-align: center;
    margin-bottom: 0.5rem;
}

.checkbox {
    display: flex;
    justify-content: center;
    gap: 5px;
    margin: 0.5rem;
    margin-top: 1rem;
}

.checkbox label {
    font-size: 0.9rem;
}

.checkbox label a {
    font-weight: 500;
    cursor: pointer;
}

.container__1 {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
}